# Python
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/

# Environment
.env

# Node
node_modules/

# Next
.next/

# Spark
spark-warehouse/
metastore_db/

# Iceberg
warehouse/

# VS Code
.vscode/

# Logs
*.log

# Build
dist/
build/