# ==========================
# Next.js
# ==========================

# dependencies
/node_modules

# next build
/.next
/out

# production
/build

# ==========================
# Environment Variables
# ==========================

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ==========================
# Logs
# ==========================

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# ==========================
# mac/windows
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Python
# ==========================

backend/.venv/
backend/__pycache__/
backend/**/*.py[cod]
backend/.pytest_cache/

# ==========================
# Spark / Iceberg
# ==========================

backend/spark-warehouse/
backend/warehouse/
backend/metastore_db/

# ==========================
# VS Code / IDE
# ==========================

.vscode/
.idea/